<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row">
        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">SERVICE LIST</h4>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 align-content-end">
                <button class="site-btn"><a href="/admin/service-list/create" class="link-btn">Create</a></button>
        </div>
        <br>
        <br>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- RECENT SALES -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <form action="">

                    <div class="row">
                        <div class="d-md-flex mb-6  ms-auto">
                        <div class="app-search d-none d-md-block me-8">
                            <input name="search" type="text" placeholder="Search account..." class="">
                            <button type="submit" class="site-btn"><i class="fa fa-search"></i></button>
                            {{!-- <a href="" class="active">
                                <i class="fa fa-search"></i>
                            </a> --}}
                        </div>
                        <div class="col-8 d-md-flex mb-3">
                        {{!-- <h3 class="box-title mb-0">Sort by</h3> --}}
                        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                            <select name="sort" class="form-select shadow-none row border-top">
                                <option value="0">Sort by</option>
                                <option value="1">Latest</option>
                                <option value="2">Ascending price</option>
                                <option value="3">Descending price</option>
                                <option value="4">Highest total purchase</option>
                            </select>
                        </div>
                    </div>
                </form>                
                
                </div>
                
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="auto-index border-top-0">No.</th>
                                <th class="border-top-0">ID</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Price</th>
                                <th class="border-top-0">Type</th>
                                <th class="border-top-0">Total purchase</th>
                                <th class="border-top-0">Availability</th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each services}}
                            {{!-- {{#each_fromto accounts pagination_info.first_result pagination_info.last_result}} --}}
                                <tr class='clickable-row' data-href='/admin/service-list/edit'>
                                    <td></td>
                                    <td>{{idservice}}</td>
                                    <td class="txt-oflo">{{servicename}}</td>
                                    <td>{{price}}</td>
                                    <td class="txt-oflo">{{typename}}</td>
                                    <td><span class="text-success">{{totalpurchase}}</span></td>
                                    <td>{{availability}}</td>
                                    <td><button class="site-btn">Delete</button></td>
                                </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>