<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin7.png">
                        <h5><a href="#">Convenient</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin8.png">
                        <h5><a href="#">Fast</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin2.png">
                        <h5><a href="#">Efficient</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin5.png">
                        <h5><a href="#">Cheap</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin6.png">
                        <h5><a href="#">Everyday</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Services</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li><a href="/users/home">All</a></li>
                        <li><a href="/users/home?featureproducts=1">Dry Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=2">Laundry Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=3">Shoes Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=4">Furniture Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=5">Stuffed dolls cleaning</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            {{#each services}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg={{image}}>
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><button class="service-btn" onclick="addSer(this.value)" value="{{idservice}}">
                                <a><i class="fa fa-shopping-cart"></i></a></button>
                            </li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="services/{{idservice}}">{{servicename}}</a></h6>
                        <h5>{{price}} VNĐ</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Featured Section End -->

{{!-- <!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/image/banner/washingmachine.webp" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/image/banner/washingmachine.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Services</h4>
                    <div class="latest-product__slider owl-carousel">
                        {{#each latest}}
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/users/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Services</h4>
                    <div class="latest-product__slider owl-carousel">
                        {{#each top}}
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/users/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End --> --}}